html {
    width: 100%;
    height: 100%;
    background-image: url(../imagines/headerWaves.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-content: center;
    font-size: 20px;
    text-align: center;
    color: #DCF0F2;
}

h1 {
    color: #182526;
    font-size: 40px;
}

img {
    height: 100px;
}
