section {
    /* arriba derecha abajo izquierda */
    /* top, right, bottom, left */
    padding: 20px 40px 40px 40px;
    margin: 20px 40px 0px 0px;
    text-align: center;
    border-radius: 10px;
}

p {
    text-align: left;
}

a {
    text-decoration: none;
    background-color: #182526;
    padding: 10px;
    border-radius: 15px;
    color: #fff
}

img {
    height: 200px;
}

.personaje {
    background-color: #A8BBBF;
    box-shadow: 5px 5px 5px #72858C;
}

.actor {
    background-color: #72858C;
    box-shadow: 5px 5px 5px #475459;
}