figure {
    padding: 0px;
    margin: 10px;
    text-align: center;
    min-width: 50px;
    max-width: 400px;
    font-size: 14px
}

figure:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

p {
    text-align: left;
    padding: 20px;
}

figcaption {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 100%;
    height: 250px;
}

.personaje {
    background-color: #A8BBBF;
    box-shadow: 5px 5px 5px #72858C;
}

.actor {
    background-color: #72858C;
    box-shadow: 5px 5px 5px #475459;
}

*{
    box-sizing: border-box;
    margin: 0;
}

article {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.bottomBlock {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}