*{
    margin: 0;
    box-sizing: border-box;
}

img {
    padding: 10px;
}

section {
    padding: 20px;
}

fieldset {
    text-align: left;
}

#cajaGrilla {
    font-size: 15px;
    padding-right: 20px;
    gap: 10px;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "valore    fans"
    "valore    fans"
    "valore    enlaces";
}

#enlaces {
    background-color: #A8BBBF;
    text-align: left;
    grid-area: enlaces;
    
    img {
       float: right;
       height: 120px;
       width: auto;
    }
}

#fans {
    background-color: black; 
    text-align: center;
    grid-area: fans;
    color: white;

    img {
       float: left;
       height: 200px;
       width: auto;
    }

    input {
        height: 40px;
        width: 100%;
        font-size: small;
    }

    select {
        width: 100%;
        font-size: large;
    }
}

#valore {
    background-color: #A8BBBF;
    text-align: center;
    grid-area: valore;

    img {
       float: left;
       height: 100%;
       width: 150px;
    }

    textarea {
        width: 350px;
        max-width: 350px;
        min-width: 350px;
        height: 50px;
        max-height: 200px;
        min-height: 50px;
    }
}